{% extends "base.html" %}
 
{% block title %}about page{% endblock %}

{% block content %}

<div class="about">
<h1>About Us</h1>
<p>Welcome to Online Grocery Shop, your one-stop destination for all your grocery needs! Our mission is to make shopping for high-quality groceries simple, convenient, and affordable. We understand that life can be busy, and we're here to help you save time and energy by delivering fresh produce, pantry staples, and household essentials directly to your doorstep.</p>
<p>At our online shop, we believe that everyone should have easy access to the food they love. That's why we've designed our website to be user-friendly and easily accessible on all devices. With just a few clicks, you can fill your cart, and have your groceries delivered right to your door.</p>
<p>Join us on our journey to revolutionize the way you shop for groceries, and let us help you make healthy, delicious choices for you and your family.</p>
</div>

<br>
<div class="contact">
<h1>Contact Us</h1>
<p>We're always here to help! If you have any questions, concerns, or feedback, please don't hesitate to reach out to our friendly customer support team. We're committed to providing exceptional service and ensuring your satisfaction.</p>
<p>You can contact us through the following channels:<br>Email: support@onlinegroceryshop.com<br> Phone: +852 2031 2031<br>Business Hours: Mon to Sat. 9:00AM-5:00PM</p>
<p>Don't forget to follow us on social media to stay updated on the latest deals, promotions, and new product arrivals:<br>Facebook: www.facebook.com/OnlineGroceryShop<br>
Instagram: @OnlineGroceryShop</p>
<p>Thank you for choosing our online grocery shop! We look forward to serving you and helping make your life a little easier.</p>
</div>
{% endblock %}

